@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap');
body{
    margin: 0;
}
.menu{
    background-color: #35CF20;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.img-container img{
    height: 80px ;
    object-fit: cover;
}
h1{
    /* beyond donuts */
font-family: 'Ingrid Darling';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 80px;
margin:0  ;

}
.input{
    /* Rectangle 2 */

width: 465px;
height: 55px;
background: #D9D9D9;
border-radius: 90px;
margin-top:10px ;
margin-right:-320px ;
font-size: 30px;
padding-left:20px ;
padding-right: 20px;
}
.search img{
    height: 80px ;
    object-fit: cover;
}
main{
    display:flex ;
    width: 100%;
    height: 100vh;
    align-items: stretch;
}
.settings{
    background-color: #FF8800;
    width: 25%;
    height:100% ;
    font-size: 20px;
    color: #fff;
    border-right: 5px solid #ff6600;
    flex: 1;
}
.settings form{
display: flex;
flex-direction: column;
gap: 15px;    
}
.settings label {
    font-size: 24px; 
    font-family: 'Arial', sans-serif;
    color: #FFFFFF; 
}
.settings .form-group {
    display: flex;
    align-items: center; 
    gap: 10px;
}
.receipt{
    width: 75%;
     ;
    height:100% ;
}
.card{
    display:flex ;
    flex-direction: row;
    align-items: center;
    height: 250px;
    background-color: #0F8100;
    width: 100%;
    border: 2px solid black;
    margin: 5px;
}
.card-img {
    width: 600px; 
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    border-right: 2px solid black;
    }

.card-img img {
    height: 100%;
    width: auto; 
    object-fit: cover; 
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 20px;
    overflow: hidden;
}
.title{

font-family: 'Imprima',serif;
font-style: normal;
font-weight: 400;
font-size: 64px;
margin: 0;
color: #BABABA;


}
.description{


font-family: 'Inder',serif;
font-style: normal;
font-weight: 400;
font-size: 32px;
margin: 0;
color: #BABABA;


}